.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 185px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.hidden {
	display: none;
}